head

  title
    block title

  meta(charset="utf-8")
  meta(name="description", content="A website celebrating 60 years of mum.")
  meta(name="author", content="Darryl & Grace Snow")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="robots", content="index,follow")

  link(rel="canonical", href="http://issuesnow60.com")

  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="http://issuesnow60.com")
  meta(name="twitter:creator", content="@dazsnow")
  meta(name="twitter:creator:id", content="17756866")
  meta(name="twitter:url", property="og:url", content="http://issuesnow60.com")
  meta(name="twitter:title", property="og:title", content="Is Sue Snow 60?")
  meta(name="twitter:description", property="og:description", content="A website celebrating 60 years of mum.")
  meta(name="twitter:image", property="og:image", content="http://issuesnow60.com/img/og-image.png")

  meta(property="og:image:height" content="227")
  meta(property="og:image:width" content="433")
  meta(property="og:description" content="A website celebrating 60 years of mum.")
  meta(property="og:title" content="Is Sue Snow 60?")
  meta(property="og:url" content="http://issuesnow60.com")
  meta(property="og:type" content="website")
  meta(property="og:image" content="http://issuesnow60.com/img/og-image.jpg")

  link(rel="apple-touch-icon" sizes="180x180" href="http://issuesnow60.com/img/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="http://issuesnow60.com/img/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="http://issuesnow60.com/img/favicon-16x16.png")
  link(rel="manifest" href="http://issuesnow60.com/img/site.webmanifest")
  link(rel="mask-icon" href="http://issuesnow60.com/img/safari-pinned-tab.svg" color="#5bbad5")
  link(rel="shortcut icon" href="http://issuesnow60.com/img/favicon.ico")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="msapplication-config" content="http://issuesnow60.com/img/browserconfig.xml")
  meta(name="theme-color" content="#ffffff")

  block meta

  link(rel="stylesheet", href="index.css")

  block styles
