.c-image-grid
  display grid
  grid-template-columns auto auto auto auto auto auto auto auto
  grid-gap 0

  &-item
    background-color white
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    opacity 1
    transition 0.5s all ease-out
