.c-real-age
  background rgba(real-age-color, 0.5)
  color white
  position relative
  text-align center
  text-transform uppercase

  &-heading
    font-size 2em
    left 50%
    margin 0
    position absolute
    top 50%
    transform translateX(-50%) translateY(-50%)
    text-shadow 0 0 0.5em black
