.c-real-age
  background real-age-color
  color white
  mix-blend-mode hard-light
  position relative
  text-align center
  text-transform uppercase

  &-heading
    font-size 2em
    left 50%
    margin 0
    position absolute
    top 50%
    transform translateX(-50%) translateY(-50%)
