.c-to-celebrate
  background white
  padding 2em 0
  text-align center

  &-heading
    color to-celebrate-color
    font-family font-family--serif
    font-size 2em
    margin 0 0 1em 0

  &-events
    display grid
    grid-template-columns 1fr
    grid-gap 0

    @media(min-width: small-width)
      grid-template-columns 1fr 1fr

  &-event
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    box-shadow inset 0 0 5em 1em black
    color white
    min-height 75vh
    padding 2em 1em
    text-shadow 0 0 6px black
    display flex
    flex-direction column
    justify-content flex-start
    align-items center

    &--Singapore
      background-image url('img/1-altitude-bar.jpg')

    &--Liverpool
      background-image url('img/panoramic34.jpg')
      background-position 50% 20%

    &-what
      background rgba(0,0,0,0.4)
      font-family font-family--serif
      font-size 3em
      line-height 1
      margin 0 0 0.5rem 0
      padding 0.75rem 1rem 0.5rem 1rem

    &-when
      background rgba(0,0,0,0.4)
      font-size 0.75em
      font-weight 300
      margin 0 0 1em 0
      padding 0.5rem 1rem 0.5rem 1rem
      text-transform uppercase

    &-where
      background rgba(0,0,0,0.4)
      border 2px solid white
      display inline-block
      font-weight 700
      margin 0
      padding 0.5em
