@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Shrikhand')

font-family--serif = 'Shrikhand', cursive
font-family--sans-serif = 'Open Sans', sans-serif

*
  box-sizing border-box

body
  font-family font-family--sans-serif
  margin 0
  padding 0

.u-fade-out
  opacity 0
  transition 0.5s all ease-in

.c-image-grid
  display grid
  grid-template-columns auto auto auto auto auto auto auto auto
  grid-gap 0
  height 100vh
  width 100vw

  &-item
    background-color white
    background-position 50% 50%
    background-size cover
    opacity 1
    transition 0.5s all ease-out
