extends html/layout

block title
  | Is Sue Snow 60?

block styles

block content

  .c-image-grid.u-background-layer.u-fixed-position.u-full-screen

    +images(40)

  main

    // LEAVE THIS <:)
    section.o-section

      .c-answer.u-full-screen

        h1.o-heading.o-heading--h1.c-answer-heading.js-answer

    // AND THIS >:)
    section.o-section

      .c-real-age.u-full-screen

        h2.o-heading.o-heading--h2.c-real-age-heading More precisely, she is&nbsp;
          span.js-real-age

    section.o-section

      .c-to-celebrate

        h2.o-heading.o-heading--h2.c-to-celebrate-heading And to celebrate&hellip;

        .c-to-celebrate-events

          .c-to-celebrate-event.c-to-celebrate-event--Singapore

            h3.c-to-celebrate-event-what Drinks!
            p.c-to-celebrate-event-when Friday 2nd November
            p.c-to-celebrate-event-where TBD

          .c-to-celebrate-event

            //------------- GRACE:START -------------------

            h3.c-to-celebrate-event-what 
            p.c-to-celebrate-event-when 
            p.c-to-celebrate-event-where 
            
            //------------- GRACE:END -------------------

    // GRACE: ADD/CHANGE SECTIONS
    section.o-section

      .c-love-from

        h2.o-heading.o-heading--h2.c-love-from-heading Lots of love from

        .c-love-from-people

          .c-love-from-person.c-love-from-person--Darryl

          .c-love-from-person.c-love-from-person--Grace
            
          .c-love-from-ampersand &amp;

block scripts
